body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  text-align: center;
}

#register{
  margin-left: 3vh;
}

.login{
  margin:auto;
  margin-top: 5vh;
  width: 50%;
  height: 50%;
}
.register{
  margin:auto;
  margin-top: 5vh;
  width: 50%;
  height: 50%;
  
}

.sign-up{
  margin-top: 3vh;
}

#tsunami{
  width: 100%;
  height: 50%;
  border-radius: 10px;
}

#merapi{
  width: 100%;
  height: 24vh;
  border-radius: 10px;
}

#longsor{
  width: 100%;
  height: 24vh;
  border-radius: 10px;
}

#banjir{
  width: 100%;
  height: 24vh;
  border-radius: 10px;
}

#login{
  width: 20%;
  margin-left: 40vh;
}

.about{
  margin-left: 2vh;
}