body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  text-align: center;
}

#register{
  margin-left: 3vh;
}

.right{
  margin-left: 100vh;
}

#page{
  margin-top: 20vh;
}

.login{
  margin:auto;
  margin-top: 5vh;
  width: 50%;
  height: 50%;
}
.register{
  margin:auto;
  margin-top: 5vh;
  width: 50%;
  height: 50%;
  
}

.sign-up{
  margin-top: 3vh;
}



#tsunami{
  width: 100%;
  height: 24vh;
  border-radius: 10px;
}

#merapi{
  width: 100%;
  height: 24vh;
  border-radius: 10px;
}

#tentang{
  margin-top: 10vh;
}

#longsor{
  width: 100%;
  height: 24vh;
  border-radius: 10px;
}

#banjir{
  width: 100%;
  height: 24vh;
  border-radius: 10px;
}

#login{
  width: 20%;
  margin-left: 40vh;
}

#container{
  margin: 10vh 0vh;
}

.about{
  margin-left: 2vh;
}

#sunting{
  
}

.modal-body .required{
  
}

.modal-body .required:after{
  font-weight: bold;
  color: #e32;
  content: '*';
  display:inline;
}

#btnKegiatan{
  margin-left: 110vh;
}

#btnBencana{
  margin-left: 100vh;
}

#btnKota{
  margin-left: 100vh;
}

#btnProvinsi{
  margin-left: 100vh;
}

#btnKecamatan{
  margin-left: 100vh;
}

#btnKelurahan{
  margin-left: 100vh;
}

#btnBantuan{
  margin-left: 100vh;
}

#btnKegiatan{
  margin-left: 130vh;
}

#hapus{
  margin-top: 1vh;
  width: 14.2vh;
}